.Difference {
    font-family: monospace;
    display: flow-root;
    padding-bottom: 20px;
    
    > span {
        display: none;
    }

    > del {
        background-color: rgb(255, 224, 224);
        float: right;
        clear: left;
        margin-top: 20px;
        padding: 5px;
        border-radius: 5px;
        white-space: normal;
        width: 49%;
        word-wrap: break-word;
    }
   
    > ins {
        background-color: rgb(201, 238, 211);
        text-decoration: none;
        float: left;
        margin-top: 20px;
        padding: 5px;
        border-radius: 5px;
        white-space: normal;
        width: 49%;    
        word-wrap: break-word;    
    }
}