@import 'colors.scss';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: auto !important;
    background: #f5f5f5 !important;
}

.account-pages {
    background: url("./../images/bg.jpg");
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.7;
}

.wrapper-page {
    margin: 5% auto;
    position: relative;
    width: 420px
}
  
.clearfix-20 {
    height: 20px;
    clear: both;
}

.borderless {

    input {
        border-left: 0px !important;
        border-right: 0px !important;
        border-top: 0px !important;
        border-radius: 2px !important; 
    }   

}

.error.borderless {
    
    input {
        border-bottom: 1px solid $error-red !important;
    }

    .icon {
        color: $error-red;
    }

}

.clearfix-10 {
    height: 10px;
    clear: both;
}

.topNav {
    position: fixed;
    right:0;
    left:0;
    top: 0;
    z-index: 900;
}

.topNav .upper{
    height: 63px;
    background-color: $white !important;
    color: $white;
}

.fluid.container {
    width: 90% !important;
}

header .menu {
    border-radius: 0px !important;
}

.topNav .header {
    font-size: 22px;
    text-transform: uppercase !important;
    color: $white !important;
}
  
.right-floated {
    float: right;
}

.menuNav a.item {
    padding-bottom: 20px !important;
}

.ui.tab.active {
    box-shadow: none;
    border: 0;
}

.user-mgt-tab {
    min-height: 200px;
    margin-bottom: 50px !important;
}  

.ut-loader {
    min-height: 100px;

    &.modal-loader {

        > .text {
            color: $ut-red !important;
        }

        > .loader:before {
            border-color: $ut-red !important;
        }

    }

}

.ut-user-icon {
    display: inline-block;
    height: 42px;
    width: 42px;
    max-height: 42px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    background-color: $ut-red !important;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

.ut-logo {

    width: 150px !important;

    >.large {
        height: 80px;
    }
}

.ut-listbox {
    border: 0px !important;
    box-shadow: none !important;

    >.text {
        display: none !important;
    }

    >.dropdown.icon {
        display: none;
    }

    >.menu {
        position: unset !important;
        box-shadow: none !important;
        border:0px !important;
        min-height: 250px !important;
        padding: 15px 1px !important;
    }
}

.ut-pointer {
    cursor: pointer;
}

.rounded-input {

    > input {
        border-radius: 20px !important; 
    }
}

.no-left-radius {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.no-right-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.left-border {
    border-left: 1px solid #ECECEC !important
}

.center-aligned {
    text-align: center;
}

.fa.fa-chevron-right:before {
    font-family: Icons;
    content: "\F054";
}

.fa.fa-chevron-left:before {
    content: "\F053";
    font-family: Icons;
}

span.fa {
    background: 0 0!important;
}

.vertical-align {
    vertical-align: top
}

.no-left-border {
    border-left: 0;
}

.search-wrap {
    margin: 3rem !important;
    background-color: #ececec !important;
    box-shadow: none !important;
    border: 0px !important;
}

.sub-menu {
    padding: 1em 3.5em !important;

    > .text {
        position: absolute;
        top: 50px;
    }

    > .icon {
        position: absolute;        
    }

    > .menu {
        min-width: 100% !important;
        // background-color:  !important;
        height: 40px !important;
        width: 1520px !important;
        position: absolute !important;
        left: -672px !important;
        text-align: center !important;
    }
    
}

.menu .sub-menu .item {
    padding: 0 !important;
    top: 3px; 
    display: inline !important;
}

.menu .sub-menu .item a {
    display: inline !important;
}

.ut-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    + label {
        font-size: 1.25em;
        font-weight: 700;
        color: black;
        background-color: white;
        display: inline-block;
    }
}
  
.ut-input-file:focus + label, .ut-input-file + label:hover {      
    cursor: pointer
}

.react-datepicker-wrapper {
    width: 100% !important;

    > .react-datepicker__input-container {
        width: 100% !important;
    }
}

.by-pass-details {
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #ECECED;
    margin-top: 10px !important;
}

.transparent-input {

    > .input {
      
        > input, input:focus {
            background: inherit !important;
            border: 0 0 0 1px solid #fff !important;
            border-bottom: 1px solid #fff !important;
            border-left: 0px !important;
            border-top: 0px !important;
            border-right: 0px !important;
            border-radius: 0 !important;
            color: #FFF !important;
        }
    }

}

.actor-name {
    float: right;
    font-weight: bold;
}

.comment-feeds { 
    
    > .event {   
        
        > .label .icon {
            color: #FFF !important;
        }

        > .content {  

            > .date, .summary, .extra {
                color: #FFF !important;
            }
          
        }
    }      
}

.menu-grid {
    background-color: $ut-red !important;   

    > .menu {
        background-color: inherit !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: none;

        > .item {
              color: $white !important;        

            + .active {
                background-color:hsla(0,0%,100%,.15) !important;
            }
        }
    }
}

.template-value {
    font-family: monospace;
    font-size: 12px;
    color: $ut-red
}

.ms-selectionpanel2 {
    display: none;
}

.ms-container {
    margin: 0 auto;
}

.goods-table tbody {
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-nxp-segment {
    margin-top: -15px !important
}

.ui.pagination.pointing.secondary.menu {
    border-bottom: none !important;
}

.ut-dropdown-menu {
    padding-top: 13px;
    
    > .menu.transition.visible {
        position: absolute;
        width: 190px;

        > .item .ui.dropdown {
            width: 100%;
        }
    }

}

.flag-error {
    border: 2px solid red !important;
}

.flag-warning {
    border: 2px solid orange !important;
}
  
.ui.modal>.header:not(.ui) {
    word-wrap: break-word;
}

.exempted-correspondence-wrap{ 
    margin-left: -6px;
    padding: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #ECECED;
}

.transparent-date {
    background: transparent !important;
    color: white !important;
    border-bottom-left-radius: 0px !important;
    border-bottom: 1px solid !important;
    border-bottom-right-radius: 0px !important;
}

.transparent-date:focus { 
    border-top: inherit !important;
    border-left: inherit !important;
    border-right: inherit !important;
}

.ut-sidebar-leaf {
    background: $ut-red;
    width: 35px;
    position: fixed;
    height: 34px;
    left: 0px;
    color: white;
    padding-top: 8px;
    padding-left: 6px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: left .5s;

    &.open {
        left: 150px;
        z-index: 1000;
        transition: left .5s;
    }
}

.ut-sidebar {
    top:105px !important;
    background: $ut-red !important;
    border-top: 1px solid #ecec !important;
}

.approval {

    > .item .content{

        .header, .meta, .description, .extra {
            color: #FFF !important;
        }
    }

    > .approver {
        padding-left: 50px !important;
    }

}

.request-bypass {

    > .field {

        > label {
            color: #FFF !important;
        }

        > .search .input input, .search .input input:focus{
            background-color: transparent;
            border-bottom: 1px solid #fff;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            color: #FFF;        
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
        }

    }
      
}

.user-search-transparent-input {

    > .search .input input, .search .input input:focus {
        background-color: transparent;
        border-bottom: 1px solid #fff;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        color: #FFF;        
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }

}

a.helptext {
    margin-top: -10px !important;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.ut-link {
    color: $ut-grey;
}

.ut-link:hover {
    color: $ut-grey;
    text-decoration: underline;
}

.ut-red-btn {
    background-color: $ut-red !important;    
    color: $white !important;
}
.ui.dropdown .menu > .item .dropdown.icon {
    float: unset !important;
}

.approvals-feed {
    
    display: flex;

    > .left, .right {
        width: 50% !important;
        float: left;

    }

    > .right {
        margin-top: 0px !important;
    }

}
fieldset {
    border-radius: 5px;
    border: 0.15em solid grey;

    > legend {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.table-filter {
    float: right;
    
    > .inline {
        margin-bottom: 0 !important;
    }
}
.rhs-status {
    text-align: right;
}

.rhs-float-status {
    float: right;
}

.group-error {
    border: 2px solid red;
    padding-top: 35px;
    border-radius: 5px;
}
.document-count {
    margin-top: -30px !important;
    margin-bottom: 15px !important;
}
.review-mode {
    background-color: lightgray !important;
}